/* add transitions */
/* :global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-logoLink), */
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-minicart-2-x-openIconContainer),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-searchBarContainer) {
  transition: all 0.3s ease;
  display: block;
}

/* desktop/mobile main header padding and background transitions */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  transition: background 0.3s ease;
  will-change: padding, background;
}

/* main header desktop has a bigger padding when not stuck */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* add a box-shadow to desktop/mobile header when stuck */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

/*
 * remove the extra padding when stuck from the desktop header
 * we add a transition only when "stuck" for the "unstick" step seem faster
 */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  transition: padding 0.3s ease, background 0.3s ease;
  padding-top: 0;
  padding-bottom: 0;
}

/* if supported add some translucency to the desktop/mobile header background */
@supports (backdrop-filter: blur(5px)) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    backdrop-filter: blur(8px);
  }

  /* header background when stuck and not hovered */
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    background: #ECC0A2;
  }
}

/* stick wrapper with the same color as the desktop/mobile header */
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
  background-color: #f0f0f0;
}

/* resize the logo for neat effect */

/*:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-store-components-3-x-logoLink) {
  transform: scale(0.85);
}*/

@media (prefers-reduced-motion: reduce) {
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-store-components-3-x-logoLink),
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-minicart-2-x-openIconContainer),
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-store-components-3-x-searchBarContainer),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
    transition: none;
  }
}

/* Estilos Natural Scents */

:global(.vtex-store-components-3-x-notificationBarInner){
  min-height: 35px;
  background-color: #56C271;
}

:global(.vtex-store-components-3-x-notificationBarContainer){
  color: #ffffff !important;
  text-decoration: none;
  font-family: "MontserratBold";
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-link){
  background-color: #ECC0A2;
  padding: 16px 76px 0px 76px ;
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header){
  background-color: #ECC0A2;
}

:global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover) 
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header){
    background-color: #ECC0A2;
    box-shadow: none;
}

:global(.vtex-rich-text-0-x-paragraph--sucursalesBtn){
  font-size: 0;
}

:global(.vtex-rich-text-0-x-paragraph--sucursalesBtn)::after{
  content: url(https://naturalscents.vteximg.com.br/arquivos/location.svg);
}

:global(.vtex-login-2-x-contentContainer){
  box-shadow: none;
  border-radius: 5px;
}

:global(.vtex-login-2-x-content){
  border-radius: 5px;
}

:global(.vtex-login-2-x-container)
  :global(.vtex-button)
  :global(.vtex-button__label)::before {
    content: url(https://naturalscents.vteximg.com.br/arquivos/login.png);
}

:global(.vtex-login-2-x-container)
  :global(.vtex-button):hover{
    background-color: transparent;
  }

:global(.vtex-login-2-x-accessCodeOptionBtn)
  :global(.vtex-button){
    background-color: #ffffff !important;
}

:global(.vtex-login-2-x-emailPasswordOptionBtn)
  :global(.vtex-button){
  background-color: #ffffff !important;
}

:global(.vtex-login-2-x-container)
  :global(.vtex-button)
  :global(.vtex-button__label)
  :global(.vtex-login-2-x-profileIcon) {
  width: 0%;
}
  
:global(.vtex-login-2-x-container)
:global(.vtex-button):focus{
  background-color: transparent;
}

:global(.vtex-login-2-x-content),
  :global(.vtex-login-2-x-arrowUp){
  background-color: #56C271;
  color: #ffffff;
}

:global(.vtex-login-2-x-formTitle){
  font-family: "Montserrat";
  font-size: 14px;
}

:global(.vtex-login-2-x-accessCodeOptionBtn)
:global(.vtex-button__label),
:global(.vtex-login-2-x-emailPasswordOptionBtn)
:global(.vtex-button__label),
:global(.vtex-login-2-x-buttonSocial)
:global(.vtex-button__label){
  color:#56C271;
  text-transform: capitalize;
  font-family: 'Montserrat';
  font-size: 14px;
}

:global(.vtex-login-2-x-googleOptionBtn)
  :global(.vtex-button__label)::before{
    content: url(assets/gmail.png);
    position: absolute;
    left: 55px;
}

:global(.vtex-login-2-x-facebookOptionBtn)
  :global(.vtex-button__label)::before{
    content: url(assets/face.png);
    position: absolute;
    left: 55px;
}

:global(.vtex-login-2-x-buttonSocial){
  background-color: #ffffff;
  border-radius: .25rem;
}

:global(.vtex-login-2-x-buttonSocial)
  :global(.vtex-button):hover{
  background-color: #ffffff;
}

:global(.vtex-login-2-x-oauthLabel){
  text-transform: capitalize;
  font-weight: 200;
  font-family: "Montserrat";
  font-size: 14px;
}

:global(.vtex-login-2-x-oauthProvider){
  font-weight: 200;
  font-family: "Montserrat";
  font-size: 14px;
  
}

:global(.vtex-login-2-x-formFooter)
 :global(.vtex-login-2-x-backButton)
  :global(.vtex-button__label){
  color: #ffffff;
}

:global(.vtex-login-2-x-inputContainer)
:global(.vtex-styleguide-9-x-input){
  font-family: "Montserrat";
  font-size: 12px;
}

:global(.vtex-login-2-x-accountOptions)
:global(.vtex-login-2-x-button){
  background: #D0F1CD;
  color: #000;
  width: 100%;
  font-size: 14px;
  font-family: 'Montserrat';
  text-transform: capitalize;
}

:global(.vtex-login-2-x-accountOptions)
  :global(.vtex-login-2-x-button):hover
  {
    background-color: #ffffff;
    color: #56C271;
}

:global(.vtex-login-2-x-accountOptions)
  :global(.vtex-button){
    background: #ffffff;
    color: #56C271;
    width: 100%;
}


:global(.vtex-login-2-x-arrowBackIcon),
:global(.vtex-login-2-x-forgotPasswordLink),
:global(.vtex-login-2-x-dontHaveAccount) {
  color: #ffffff;
}

:global(.vtex-login-2-x-content)
  :global(.vtex-login-2-x-sendButton)
    :global(.vtex-button){
    background: #fff;
    color: #000000;
    border: none;
}

:global(.vtex-login-2-x-formSubtitle){
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 12px;
}

:global(.vtex-login-2-x-formError){
  background: none;
  font-family: "Montserrat";
  font-size: 14px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header)
  :global(.vtex-menu-2-x-menuContainerNav)
    :global(.vtex-menu-2-x-styledLinkContent){
      color: #ffffff;
      font-family: "MontserratSemiBold";
      font-size: 14px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header)
  :global(.vtex-menu-2-x-submenuContainer)
    :global(.vtex-menu-2-x-styledLinkContent){
      color: #000000;
      font-family: "Montserrat";
      font-size: 14px;
}

:global(.vtex-menu-2-x-submenu)
:global(.vtex-flex-layout-0-x-flexRowContent){
  align-items: flex-start;
}

:global(.vtex-menu-2-x-submenu)
  :global(.vtex-flex-layout-0-x-flexRow){
    width: 100%;
    margin: 0 60px;
}  

:global(.vtex-menu-2-x-styledLink--titcats){
  font-family: 'MontserratSemiBold';
  font-weight: 800;
  color: #000000;
  font-size: 14px;
}

:global(.vtex-menu-2-x-menuContainer--menuMob)
  :global(.vtex-menu-2-x-submenu)
    :global(.vtex-flex-layout-0-x-flexRow){
    margin: 0 10px;
}

:global(.vtex-store-components-3-x-logoLink){
  position: relative;
  left: -18%;
}

:global(.vtex-store-components-3-x-logoImage){
  width: 235px;
}

:global(.vtex-minicart-2-x-openIconContainer)
  :global(.vtex-button)
    :global(.vtex-button__label)::before{
      content: url(https://naturalscents.vteximg.com.br/arquivos/cart.svg);
}

:global(.vtex-minicart-2-x-openIconContainer)
  :global(.vtex-button)
    :global(.vtex-button__label){
      padding: 0;
}

:global(.vtex-minicart-2-x-openIconContainer)
  :global(.vtex-button){
    padding: 0;
}

:global(.vtex-minicart-2-x-openIconContainer){
  padding-left: 0;
}

:global(.vtex-minicart-2-x-openIconContainer)
:global(.vtex-button):hover{
  background-color: transparent;
}

:global(.vtex-minicart-2-x-openIconContainer)
:global(.vtex-button):focus{
  background-color: transparent;
}

:global(.vtex-minicart-2-x-cartIcon){
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile),
:global(.vtex-flex-layout-0-x-flexRow--searchRow){
  background-color: #ECC0A2;
  box-shadow: none !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile)
  :global(.vtex-store-components-3-x-logoLink){
    position: relative;
    left: 15%;
    width: 193px;
}

:global(.vtex-store-drawer-0-x-drawer){
  width: 100% !important;
  top: 0;
  margin-top: 33px;
  background-color: transparent;
}

:global(.vtex-store-drawer-0-x-drawerContent){
  background-color: #ffffff;
}

:global(.vtex-menu-2-x-styledLinkContent--itemPrin),
:global(.vtex-menu-2-x-styledLinkContent--itemPrinSing){
  color: #000000;
  font-family: 'MontserratSemiBold';
  font-size: 14px;
}

:global(.vtex-menu-2-x-accordionIcon--itemPrin--isClosed)::before{
    content: url(assets/arrow-r.png);
}

:global(.vtex-menu-2-x-accordionIcon--itemPrin--isOpen){
  font-size: 0;
}

:global(.vtex-menu-2-x-accordionIcon--itemPrin--isOpen)::before{
    content: url(assets/arrow_down.png);
}

:global(.vtex-store-drawer-0-x-drawer)
:global(.vtex-menu-2-x-submenuAccordion--submenudraw){
  margin: 0 10px 0 49px;
}

:global(.vtex-store-drawer-0-x-drawer)
:global(.vtex-menu-2-x-styledLinkContent--itemPrin){
  margin: 0 10px 0 60px;
}

:global(.vtex-store-drawer-0-x-drawer)
:global(.vtex-menu-2-x-styledLinkContainer--itemPrinSing){
  margin: 0 10px 0 84px;
}

:global(.vtex-store-drawer-0-x-drawer)
:global(.vtex-menu-2-x-styledLinkContent--itemPrinSingOut){
  margin: 0 10px 0 59px;
}

:global(.vtex-store-drawer-0-x-drawer)
:global(.vtex-menu-2-x-styledLinkContent--itemPrinSingOut){
  font-family: 'MontserratSemiBold' !important;
  text-decoration: none !important;
}

:global(.vtex-menu-2-x-styledLinkContent--itemPrinSingOut){
  text-decoration: underline;
  font-family: "MontserratBlack" !important;
}

:global(.vtex-menu-2-x-menuItemInnerDiv--itemPrin){
  padding: 10px 0;
}

:global(.vtex-store-drawer-0-x-drawer)
:global(.vtex-menu-2-x-styledLinkContainer--itemPrinSing){
  padding: 14px 0;
}

:global(.vtex-store-drawer-0-x-drawer)
:global(.vtex-menu-2-x-styledLinkContent--itemPrinSingOut){
  padding: 10px 0;
}

:global(.vtex-store-drawer-0-x-drawer)
  :global(.vtex-menu-2-x-menuItem--itemPrin),
:global(.vtex-store-drawer-0-x-drawer)
  :global(.vtex-menu-2-x-menuItem--itemPrinSing),
:global(.vtex-store-drawer-0-x-drawer)
  :global(.vtex-menu-2-x-menuItem--itemPrinSingOut)
{
  border-bottom: 0.3px solid #ECC0A2;
}

:global(.vtex-store-drawer-0-x-overlay){
  opacity: 0 !important;
}

:global(.vtex-store-drawer-0-x-closeIconButton){
  position: absolute;
  right: 10px;
}

:global(.vtex-store-drawer-0-x-closeIcon){
  height: 22px;
  color: #000000;
}

:global(.vtex-store-drawer-0-x-openIconContainer){
  color: #ffffff;
}

/* Search */

:global(.vtex-store-components-3-x-searchBarInnerContainer)
  :global(.vtex-styleguide-9-x-input){
    background-color: #ECC0A2;
    color: #ffffff;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
  :global(.vtex-input-prefix__group){
    border: none;
}

:global(.vtex-store-components-3-x-searchBarContainer)
  :global(.vtex-input)
    :global(.vtex-input-prefix__group)
      :global(.vtex-styleguide-9-x-input):focus{
        border-bottom: 2px solid #ffffff;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
  :global(.vtex-styleguide-9-x-input)::placeholder{
    font-size: 0;
}

:global(.vtex-store-components-3-x-searchBarContainer)
  :global(.vtex-input__suffix){
    background-color: #ECC0A2;
}

:global(.vtex-store-components-3-x-searchBarContainer)
  :global(.vtex-input)::before{
  content: url(https://naturalscents.vteximg.com.br/arquivos/search.png);
  position: absolute;
  left: -8px;
  top: 6px;
}

:global(.vtex-store-components-3-x-searchBarIcon){
  display: none;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
  :global(.vtex-input-prefix__group)::before:hover {
  cursor: pointer;
}

:global(.vtex-search-2-x-biggy-autocomplete){
  left: 530px;
  width: 900px;
}

:global(.vtex-search-2-x-tileListList)
  :global(.vtex-product-summary-2-x-buyButton)
    :global(.vtex-button){
    background-color: #ffffff;
    border: 1px solid #56C271;
    font-size: 12px;
    color: #000000;
    border-radius: 3px;
}

/* Search Responsive */

:global(.vtex-flex-layout-0-x-flexRowContent--searchRow)
  :global(.vtex-store-components-3-x-searchBarInnerContainer)
    :global(.vtex-styleguide-9-x-input){
    background-color: #ffffff;
    color: #000000;
}

:global(.vtex-flex-layout-0-x-flexRowContent--searchRow)
  :global(.vtex-store-components-3-x-searchBarContainer)
    :global(.vtex-input__suffix){
    background-color: #ffffff;
}

:global(.vtex-flex-layout-0-x-flexRowContent--searchRow)
  :global(.vtex-store-components-3-x-searchBarContainer)
    :global(.vtex-input)::before{
  content: none;
}

:global(.vtex-flex-layout-0-x-flexRow--searchRow)
:global(.vtex-store-components-3-x-searchBarIcon){
  display: block;
}

:global(.vtex-flex-layout-0-x-flexRow--searchRow)
  :global(.vtex-store-components-3-x-searchIcon){
  color: #969696;
}

@media  only screen and (min-width:425px) and (max-width:768px){
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile)
  :global(.vtex-store-components-3-x-logoLink){
    position: relative;
    left: 24%;
  }

  :global(.vtex-search-2-x-biggy-autocomplete){
    left: -190px;
    width: 400px;
  }

}

@media  only screen and (min-width:768px) and (max-width:1024px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile)
  :global(.vtex-store-components-3-x-logoLink){
    left: 115%;
  }

  :global(.vtex-search-2-x-biggy-autocomplete){
    left: -200px;
    width: 400px;
  }
}

@media  only screen and (min-width:1024px) and (max-width:1440px) {
  
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile)
  :global(.vtex-store-components-3-x-logoLink){
    left: 185%;
  }
}

@media  only screen and (min-width:1630px) and (max-width:2000px) {

  :global(.vtex-search-2-x-biggy-autocomplete){
    left: 630px;
  }
}

@media  only screen and (min-width:1850px) and (max-width:2560px) {

  :global(.vtex-search-2-x-biggy-autocomplete){
    left: 1030px;
  }
}
