@font-face {
    font-family: "MontserratBold";
    src: url(assets/fonts/Montserrat-Bold.ttf);
}
  
@font-face {
    font-family: "MontserratSemiBold";
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "MontserratLight";
    src: url(assets/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratItalic";
    src: url(assets/fonts/Montserrat-Italic.ttf);
}

@font-face {
    font-family: "BreveSansBook";
    src: url(assets/fonts/BreveSansTextBook.otf);
}

@font-face {
    font-family: "BreveSansLight";
    src: url(assets/fonts/BreveSansTextLight.otf);
}

@font-face {
    font-family: "BreveSansBold";
    src: url(assets/fonts/BreveSansTextBold.otf);
}

@font-face {
    font-family: "MontserratBlack";
    src: url(assets/fonts/Montserrat-Black.ttf);
}


